<div class="userbar">
   <nav id="tabBar"><div class="nav-wrapper"><div class="tab-bar-normal">
      
      <div class="user_tab_text">
      <a href="#home"><%=link_to "Home", "/users/#{current_user.id}" %></a>

      <a href="#preferences"><%=link_to "Preferences", "/categories" %></a>

      <a href="#donation_history"><%=link_to "Donation History", user_history_path(:id => current_user.id)%></a>

      <a href="#payment">Payment</a></div>

</div></nav></div>

