<header class="header" data-stellar-background-ratio="0.5" id="home">

  <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse" id="stamp-navigation">

          <ul class="nav navbar-nav navbar-right login-register small-text">
           <li><% if user_signed_in? %>   
            <%= link_to current_user.name, "/users/#{current_user.id}"%>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              <li><%=link_to 'Edit Profile', edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'Sign In', user_session_path %></li>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</header>